
header {
    height: 70px;
}
.green-section {
    background-color: #1ABC9C;
    color: white;
}

.green-section div img {
    max-width: 100%;
}


.my-card img {
    width: 100%;
    border-radius: 1rem;
    
}

hr {
    border: 2px solid;
    opacity: 100%;
    border-radius: 1rem;
}



footer {
    background-color: #3A546D;
    color: white;
    
}

.dark {
    background-color:#2C3E51;
    color: white;
}

.copyright {
    height: 100px;
}

.contact-me {
    border: 1px solid lightgray;  
}


.btn-success {
    background-color:#1ABC9D;
    border: 1px solid white;
}

.form-floating {
    border: none;
}

.about-freelance p span {
    color: #1ABC9C;
}

.circle {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
    padding-top:10px ;
    margin: 5px;
}


/* MEDIUM SIZE */
@media screen and (min-width: 768px) {
.container {
    max-width: 90%;
}

}







@media screen and (min-width: 992px) {
    .container {
        max-width: 70%;
    }
    
    }